<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongruan.dao.IStatus" >

    <select id="getAllStatus" resultType="com.zhongruan.bean.Status">
        select * from status
    </select>

    <select id="getIdByStatusName" parameterType="String" resultType="com.zhongruan.bean.Status">
        select * from status where statusName = #{statusName}
    </select>

    <select id="getStatusById" parameterType="int" resultType="com.zhongruan.bean.Status">
        select * from status where id = #{id}
    </select>


</mapper>